@charset "utf-8";
 html {
        -ms-touch-action: none;  /* 阻止windows Phone 的默认触摸事件 */
    }
    body,
    div,
    p,
    h1,
    ul,
    li {
        margin: 0;
        padding: 0;
    }
    ul {
        list-style: none;
    }
    a {
    text-decoration: none;
    border: none;
    outline: none;
    }
    img {
    display: block;
    border:none;
    }
    body {
        width: 100%;
        *cursor: default;
        overflow: hidden;
        font: 16px/1.5 "Microsoft YaHei",Helvetica,STHeiti STXihei,Microsoft JhengHei,Arial;
    }
.nav {
    z-index: 5;
    position: fixed;
    _position:absolute;
    box-shadow: 0 2px 10px 0px #000;
    background: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.logo {
    width: 51px;
    height: 51px;
    vertical-align: top;
    margin: 9px 0 0 20px;
    transition:all .4s ease;
}
.logo:hover {
    transform:rotate(5deg) scale(1.05);
}
.nav a {
    line-height: 70px;
    transition:all .4s ease;
    color: #333;
}
.nav a:hover {
    text-shadow:1px 1px 3px #000;
}
.nav h1 {
    line-height: 70px;
    float: left;
}
.nav span {
    position: absolute;
    left: 80px;
    top: 0;
    font-size:20px;
}
.nav h1 p {
    display: none;
}
.nav li {
    display: inline;
    float: right;
    margin: 0 22px;
}

    #pageContain {
        overflow: hidden;
    }
    .page {
        display: none;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }
    .contain {
        width: 100%;
        height: 100%;
        display: block;
        position: relative;
        z-index: 0;
    }
    .current .contain,.slide .contain {
        display: block;
    }
    .current {
        display: block;
        z-index: 1;
    }
    .slide {
        display: block;
        z-index: 2;
    }
    .swipe {
        display: block;
        z-index: 3;
        transition-duration: 0ms !important;
        -webkit-transition-duration: 0ms !important;
    }
    .page1 {
        background: #33CC66;
    }
    .page2 {
        background: #33CC99;
    }
    .page3 {
        background: #88dba3;
    }
    .page4 {
        background: #33CC66;
    }
    .page5 {
        background: #66CC66;
    }
    .page6 {
        background: #79bd9a;
    }
     #navBar {
        z-index: 3;
        position: absolute;
        top: 30%;
        right: 3%;
    }
    #navBar .active {
        background: #ccc;
    }
    #navBar li {
        background: transparent;
        border: 1px solid #ccc;
        cursor: pointer;
        margin-bottom: 10px;
        transition: all .7s ease;
        border-radius: 50%;
        line-height: 10px;
        text-align: center;
        width: 14px;
        height: 14px;
    }

        p {
        width: 100%;
        color:#fff;
        font-size:150px;
        text-align: center;
        margin:13% 5%;
        opacity: 1;
        transition: all .8s ease;
        transform-origin: 50% 50%;
        font-family:Garamond;
        -webkit-animation-name:myp;
        -webkit-animation-duration:2s;
        -webkit-animation-timing-function:linear;

        -moz-animation-name:myp;
        -moz-animation-duration:2s;
        -moz-animation-timing-function:linear;

        -ms-animation-name:myp;
        -ms-animation-duration:2s;
        -ms-animation-timing-function:linear;

        -o-animation-name:myp;
        -o-animation-duration:2s;
        -o-animation-timing-function:linear;
    }

    @-webkit-keyframes myp
        {
            0%{font-size:10px;}
            30%{font-size:50px;}
            60%{font-size:100px;}
            100%{font-size:150px;}
        }
            @-moz-keyframes myp
        {
            0%{font-size:10px;}
            30%{font-size:50px;}
            60%{font-size:100px;}
            100%{font-size:150px;}
        }
            @-o-keyframes myp
        {
            0%{font-size:10px;}
            30%{font-size:50px;}
            60%{font-size:100px;}
            100%{font-size:150px;}
        }
            @-ms-keyframes myp
        {
            0%{font-size:10px;}
            30%{font-size:50px;}
            60%{font-size:100px;}
            100%{font-size:150px;}
        }

    /*
    .step1 p {
        transform: translate(0, -50px);
        -webkit-transform: translate(0, -50px);
    }
    .step2 p {
        opacity: 0;
        transform: scale(2);
        -webkit-transform: scale(2);
    }
    .step3 p {
        transform: scale(1);
        -webkit-transform: scale(1)
        opacity: 1;
    }
    .step4 p {
        -webkit-transform: rotate(360deg) translate(0,-200px) scale(.3);
        transform: rotate(360deg) translate(0,-200px) scale(.3);
        opacity: 0;
    }

    */

